src/main/resources/xsdSimple/2D-DosimetryWorkflow.xsd

<?xml version="1.0"?>
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferencedClinicalResearchStudy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
							<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="PatientId" type="xs:string"/>

	<xs:element name="TwoDimDosimetryworkflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PlanarDataAcquisitionAndProcessing" type="irdbb:PlanarDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="TwoDimDosimetryViaAbsorbedDoseRateCalculation" type="irdbb:TwoDimDosimetryViaAbsorbedDoseRateCalculation" minOccurs="0" />
				<xs:element name="TwoDimDosimetryViaTimeActivityCurveFit" type="irdbb:TwoDimDosimetryViaTimeActivityCurveFit" minOccurs="0" />
				<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:element name="CTRelevantCalibrationReference" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="PlanarDataAcquisitionAndProcessing">
		<xs:sequence>
				<xs:element name="PlanarDataAcquisition" type="irdbb:PlanarDataAcquisition"/>
				<xs:element name="PlanarDataCorrections" type="irdbb:PlanarDataCorrections"/>
				<xs:element name="PlanarDataSegmentationWithoutRegistration" type="irdbb:PlanarDataSegmentationWithoutRegistration" minOccurs="0" />
				<xs:element name="PlanarDataSegmentationWithRegistrationAndPropagation" type="irdbb:PlanarDataSegmentationWithRegistrationAndPropagation" minOccurs="0" />
				<xs:element name="ROIPlanarActivityDetermination" type="irdbb:ROIPlanarActivityDetermination" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaAbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="AbsorbedDoseRateCalculation" type="irdbb:AbsorbedDoseRateCalculation" maxOccurs="unbounded" />
				<xs:element name="TimeAbsorbedDoseCurveFit" type="irdbb:TimeAbsorbedDoseCurveFit"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaTimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit"/>
				<xs:element name="AbsorbedDoseCalculation" type="irdbb:AbsorbedDoseCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataAcquisition">
		<xs:sequence>
				<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
				<xs:element name="NMRelevantCalibrationReference" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="NMStaticProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataCorrections">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="NMStaticUsed" type="irdbb:DICOMData"/>
				<xs:element name="CorrectionsUsed" type="xs:string"/>
				<xs:element name="NMStaticCorrectedProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithoutRegistration">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerROIAtTimePointProduced" type="irdbb:CountsPerROIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="ROIProduced" type="irdbb:ROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithRegistrationAndPropagation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="SegmentationMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerROIAtTimePointProduced" type="irdbb:CountsPerROIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="ROIProduced" type="irdbb:ROI" maxOccurs="unbounded" />
				<xs:element name="NMStaticCorrectedResampledOnCommonReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIPlanarActivityDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PlanarCalibrationFactorUsed" type="irdbb:PlanarCalibrationFactor" maxOccurs="unbounded" />
				<xs:element name="DataActivityPerROIAtTimePointProduced" type="irdbb:DataActivityPerROIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRateCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="OrganSValueUsed" type="xs:string"/>
				<xs:element name="ReferenceOrganMassUsed" type="xs:string"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMass" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseRateInROIProduced" type="irdbb:MeanAbsorbedDoseRateInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeAbsorbedDoseCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="MeanAbsorbedDoseInROIProduced" type="irdbb:MeanAbsorbedDoseInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerROI" maxOccurs="unbounded" />
				<xs:element name="TimeIntegratedActivityPerROIProduced" type="irdbb:TimeIntegratedActivityPerROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="OrganSValueUsed" type="xs:string"/>
				<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMass" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="MeanAbsorbedDoseInROIProduced" type="irdbb:MeanAbsorbedDoseInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
				<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
				<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointDescription">
		<xs:sequence>
				<xs:element name="TimePointCategory" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
				<xs:element name="TimePointDistanceFromReferenceEventValue" type="xs:integer"/>
				<xs:element name="TimePointDistanceFromReferenceEventUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
				<xs:element name="DateTimeProcessStarted" type="xs:string"/>
				<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMRelevantCalibrationReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="rhenium188"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerROIAtTimePoint">
		<xs:sequence>
				<xs:element name="CountsValue" type="xs:float"/>
				<xs:element name="CountsUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROI">
		<xs:sequence>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="OrganOrTissue" type="xs:string"/>
				<xs:element name="DICOMROIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMROIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarCalibrationFactor">
		<xs:sequence>
				<xs:element name="PlanarCalibrationFactorValue" type="xs:float"/>
				<xs:element name="PlanarCalibrationFactorUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerROIAtTimePoint">
		<xs:sequence>
				<xs:element name="DataActivityValue" type="xs:float"/>
				<xs:element name="DataActivityUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
				<xs:element name="AdministeredActivityValue" type="xs:float"/>
				<xs:element name="AdministeredActivityUnit" type="xs:string"/>
				<xs:element name="Timestamp" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PatientOrganMass">
		<xs:sequence>
				<xs:element name="PatientOrganMassValue" type="xs:float"/>
				<xs:element name="PatientOrganMassUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseRateInROI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseRateInROIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseRateInROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseInROI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseInROIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseInROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerROI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerROI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityPerROIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityPerROIUnit" type="xs:string"/>
				<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
				<xs:element name="DICOMStudyUID" type="xs:string"/>
				<xs:element name="DICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="VOI"/>
					<xs:enumeration value="VOI superimposed on images"/>
					<xs:enumeration value="3D dose map"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="NonDICOMDataFormat">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="zipped imageJ contours format"/>
					<xs:enumeration value="TIFF format embedding imageJ contours"/>
					<xs:enumeration value="zipped pseudo_DICOM ImpactMC"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="NonDICOMDataFileName" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>