src/main/resources/xsdSimple/2D-DosimetryWorkflow.xsd

<?xml version="1.0"?>
<!--VersionSchemas : 051-->
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor"  type="irdbb:NonDicomFileSetDescriptor" />
	<xs:complexType name="NonDicomFileSetDescriptor">
		<xs:sequence>
			<xs:element name="ReferencedClinicalResearchStudy" type="irdbb:ReferencedClinicalResearchStudy" />
			<xs:element name="PatientId" type="xs:string"/>
				<xs:element name="TwoDimDosimetryworkflow" type="irdbb:TwoDimDosimetryworkflow" />
		</xs:sequence>
	</xs:complexType>

			<xs:complexType name="ReferencedClinicalResearchStudy">
					<xs:sequence>
						<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
						<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>

			<xs:complexType name="TwoDimDosimetryworkflow">
				<xs:sequence>
					<xs:element name="PlanarDataAcquisitionAndProcessingContainer" type="irdbb:PlanarDataAcquisitionAndProcessingContainer"/>
					<xs:element name="TwoDimDosimetryViaAbsorbedDoseRateCalculation" type="irdbb:TwoDimDosimetryViaAbsorbedDoseRateCalculation" minOccurs="0" />
					<xs:element name="TwoDimDosimetryViaTimeActivityCurveFit" type="irdbb:TwoDimDosimetryViaTimeActivityCurveFit" minOccurs="0" />
					<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation" minOccurs="0" />
						</xs:sequence>
				</xs:complexType>

	<xs:element name="NonDICOMDataContainer" >
		<xs:complexType>
			<xs:sequence>
			<xs:element name="NonDICOMData" type="irdbb:NonDICOMData" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="PlanarDataAcquisitionAndProcessingContainer">
		<xs:sequence>
			<xs:element name="PlanarDataAcquisitionAndProcessing" type="irdbb:PlanarDataAcquisitionAndProcessing" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataAcquisitionAndProcessing">
		<xs:sequence>
			<xs:element name="PlanarDataAcquisition" type="irdbb:PlanarDataAcquisition"/>
			<xs:element name="PlanarDataCorrections" type="irdbb:PlanarDataCorrections"/>
			<xs:element name="PlanarDataSegmentationWithoutRegistration" type="irdbb:PlanarDataSegmentationWithoutRegistration" minOccurs="0" />
			<xs:element name="PlanarDataSegmentationWithRegistrationAndPropagation" type="irdbb:PlanarDataSegmentationWithRegistrationAndPropagation" minOccurs="0" />
			<xs:element name="ROIPlanarActivityDetermination" type="irdbb:ROIPlanarActivityDetermination" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaAbsorbedDoseRateCalculation">
		<xs:sequence>
			<xs:element name="AbsorbedDoseRateCalculationIn2DDosimetryContainer" type="irdbb:AbsorbedDoseRateCalculationIn2DDosimetryContainer"/>
			<xs:element name="TimeAbsorbedDoseCurveFit" type="irdbb:TimeAbsorbedDoseCurveFit"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRateCalculationIn2DDosimetryContainer">
		<xs:sequence>
			<xs:element name="AbsorbedDoseRateCalculationIn2DDosimetry" type="irdbb:AbsorbedDoseRateCalculationIn2DDosimetry" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TwoDimDosimetryViaTimeActivityCurveFit">
		<xs:sequence>
			<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit"/>
			<xs:element name="AbsorbedDoseCalculationInROIIn2DDosimetry" type="irdbb:AbsorbedDoseCalculationInROIIn2DDosimetry"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataAcquisition">
		<xs:sequence>
			<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
			<xs:element name="NMRelevantCalibrationReference" type="irdbb:NMRelevantCalibrationReference"/>
			<xs:element name="NMStaticProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataCorrections">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
			<xs:element name="NMStaticUsed" type="irdbb:DICOMData"/>
			<xs:element name="CorrectionsUsed" type="xs:string"/>
			<xs:element name="NMStaticCorrectedProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithoutRegistration">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="TimePointIdentifierUsedContainer" type="irdbb:TimePointIdentifierUsedContainer"/>
			<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMDataContainer"/>
			<xs:element name="SegmentationMethodUsed" type="xs:string"/>
			<xs:element name="CountsPerROIAtTimePointContainer" type="irdbb:CountsPerROIAtTimePointContainer"/>
			<xs:element name="ROIProduced" type="irdbb:ROIcontainer" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIcontainer">
		<xs:sequence>
			<xs:element name="ROI" type="irdbb:ROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerROIAtTimePointContainer">
		<xs:sequence>
			<xs:element name="CountsPerROIAtTimePointProduced" type="irdbb:CountsPerROIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointIdentifierUsedContainer">
		<xs:sequence>
			<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarDataSegmentationWithRegistrationAndPropagation">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="TimePointIdentifierUsedContainer" type="irdbb:TimePointIdentifierUsedContainer"/>
			<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMDataContainer"/>
			<xs:element name="ROIIdentifierUsed" type="xs:string" minOccurs="0" />
			<xs:element name="SegmentationMethodUsed" type="xs:string"/>
			<xs:element name="CountsPerROIAtTimePointContainer" type="irdbb:CountsPerROIAtTimePointContainer"/>
			<xs:element name="ROIProduced" type="irdbb:ROIcontainer"/>
			<xs:element name="NMStaticCorrectedResampledOnCommonReferenceProduced" type="irdbb:DICOMDataContainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIIdentifierUsedContainer">
		<xs:sequence>
			<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIPlanarActivityDetermination">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="TimePointIdentifierUsedContainer" type="irdbb:TimePointIdentifierUsedContainer"/>
			<xs:element name="ROIIdentifierUsed" type="xs:string"/>
			<xs:element name="PlanarCalibrationFactorReference" type="irdbb:NMRelevantCalibrationReference"/>
			<xs:element name="DataActivityPerROIAtTimePointContainer" type="irdbb:DataActivityPerROIAtTimePointContainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerROIAtTimePointContainer">
		<xs:sequence>
			<xs:element name="DataActivityPerROIAtTimePointProduced" type="irdbb:DataActivityPerROIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseRateCalculationIn2DDosimetry">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="TimePointIdentifierUsedContainer" type="irdbb:TimePointIdentifierUsedContainer"/>
			<xs:element name="ROIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
			<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
			<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
			<xs:element name="OrganSValueUsed" type="xs:string"/>
			<xs:element name="ReferenceOrganMassUsed" type="xs:string"/>
			<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMassUsedContainer"/>
			<xs:element name="MeanAbsorbedDoseRateInROIProduced" type="irdbb:MeanAbsorbedDoseRateInROIContainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PatientOrganMassUsedContainer">
		<xs:sequence>
			<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMassIn2DDosimetry" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseRateInROIContainer">
		<xs:sequence>
			<xs:element name="MeanAbsorbedDoseRateInROIProduced" type="irdbb:MeanAbsorbedDoseRateInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeAbsorbedDoseCurveFit">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="ROIIdentifierUsed" type="irdbb:ROIIdentifierUsedContainer"/>
			<xs:element name="TimePointIdentifierUsedContainer" type="irdbb:TimePointIdentifierUsedContainer"/>
			<xs:element name="PKAssessmentMethodUsed" type="irdbb:CurveFittingMethod"/>
			<xs:element name="MeanAbsorbedDoseInROIcontainer" type="irdbb:MeanAbsorbedDoseInROIcontainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseInROIcontainer">
		<xs:sequence>
			<xs:element name="MeanAbsorbedDoseInROIProduced" type="irdbb:MeanAbsorbedDoseInROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFit">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="ROIIdentifierUsed" type="irdbb:ROIIdentifierUsedContainer"/>
			<xs:element name="TimePointIdentifierUsedContainer" type="irdbb:TimePointIdentifierUsedContainer"/>
			<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
			<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
			<xs:element name="PKAssessmentMethodUsed" type="irdbb:CurveFittingMethod"/>
			<xs:element name="TimeIntegratedActivityCoefficientPerROIcontainer" type="irdbb:TimeIntegratedActivityCoefficientPerROIcontainer"/>
			<xs:element name="TimeIntegratedActivityPerROIcontainer" type="irdbb:TimeIntegratedActivityPerROIcontainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerROIcontainer">
		<xs:sequence>
			<xs:element name="TimeIntegratedActivityCoefficientPerROIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerROIcontainer">
		<xs:sequence>
			<xs:element name="TimeIntegratedActivityPerROIProduced" type="irdbb:TimeIntegratedActivityPerROI" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculationInROIIn2DDosimetry">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="ROIIdentifierUsed" type="irdbb:ROIIdentifierUsedContainer"/>
			<xs:element name="OrgansValueUsed" type="xs:string"/>
			<xs:element name="PatientOrganMassUsed" type="irdbb:PatientOrganMassUsedContainer" minOccurs="0" />
			<xs:element name="MeanAbsorbedDoseInROIProduced" type="irdbb:MeanAbsorbedDoseInROIcontainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculation">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="VOIIdentifierUsed" type="irdbb:VOIIdentifierUsedContainer"/>
			<xs:element name="VoxelAbsorbedDoseMapIdentifierUsedContainer" type="irdbb:VoxelAbsorbedDoseMapIdentifierUsedContainer"/>
			<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
			<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
			<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIIdentifierUsedContainer">
		<xs:sequence>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VoxelAbsorbedDoseMapIdentifierUsedContainer">
		<xs:sequence>
			<xs:element name="VoxelAbsorbedDoseMapIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointDescription">
		<xs:sequence>
			<xs:element name="TimePointDescriptionElement" type="irdbb:TimePointDescriptionElement" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="TimePointCategory">
		<xs:restriction base="xs:string">
			<xs:enumeration value="168h plus or minus 24h post RAIT timepoint"/>
			<xs:enumeration value="96h plus or minus 12h post RAIT timepoint"/>
			<xs:enumeration value="72h plus or minus 12h post RAIT timepoint"/>
			<xs:enumeration value="48h plus or minus 4h post RAIT timepoint"/>
			<xs:enumeration value="24h plus or minus 4h post RAIT timepoint"/>
			<xs:enumeration value="6h plus or minus 2h post RAIT timepoint"/>
			<xs:enumeration value="additional timepoint"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="TimeUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="seconds"/>
			<xs:enumeration value="minutes"/>
			<xs:enumeration value="hours"/>
			<xs:enumeration value="days"/>
			<xs:enumeration value="months"/>
			<xs:enumeration value="years"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="TimePointDescriptionElement">
		<xs:sequence>
		<xs:element name="TimePointCategory" type="irdbb:TimePointCategory" />
			<xs:element name="TimePointIdentifier" type="xs:string"/>
			<xs:element name="TimePointDistanceFromReferenceEventValue" type="xs:integer"/>
		<xs:element name="TimeUnit" type="irdbb:TimeUnit" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
			<xs:element name="DateTimeProcessStarted" type="xs:string"/>
			<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="Isotope">
		<xs:restriction base="xs:string">
			<xs:enumeration value="radium223"/>
			<xs:enumeration value="iodine131"/>
			<xs:enumeration value="lutetium177"/>
			<xs:enumeration value="yttrium90"/>
			<xs:enumeration value="radium223"/>
			<xs:enumeration value="rhenium188"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="NMRelevantCalibrationReference">
		<xs:sequence>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CountsUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="counts"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CountsPerROIAtTimePoint">
		<xs:sequence>
			<xs:element name="CountsValue" type="xs:float"/>
		<xs:element name="CountsUnit" type="irdbb:CountsUnit" />
			<xs:element name="ROIIdentifier" type="xs:string"/>
			<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMDataContainer">
		<xs:sequence>
			<xs:element name="DICOMData" type="irdbb:DICOMData" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROI">
		<xs:sequence>
			<xs:element name="ROIIdentifier" type="xs:string"/>
			<xs:element name="OrganOrTissue" type="xs:string"/>
			<xs:element name="DICOMROIContainer" type="irdbb:DICOMData" minOccurs="0" />
			<xs:element name="NonDICOMROIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PlanarCalibrationFactorUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="counts per second per megabecquerel"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ActualPlanarCalibrationFactor">
		<xs:sequence>
			<xs:element name="PlanarCalibrationFactorValue" type="xs:float"/>
		<xs:element name="PlanarCalibrationFactorUnit" type="irdbb:PlanarCalibrationFactorUnit" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarCalibrationFactorReference">
		<xs:sequence>
			<xs:element name="PlanarCalibrationFactorDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ActivityUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="becquerel"/>
			<xs:enumeration value="kilobecquerel"/>
			<xs:enumeration value="megabecquerel"/>
			<xs:enumeration value="curie"/>
			<xs:enumeration value="millicurie"/>
			<xs:enumeration value="microcurie"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DataActivityPerROIAtTimePoint">
		<xs:sequence>
			<xs:element name="DataActivityValue" type="xs:float"/>
		<xs:element name="ActivityUnit" type="irdbb:ActivityUnit" />
			<xs:element name="ROIIdentifier" type="xs:string"/>
			<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
			<xs:element name="AdministeredActivityValue" type="xs:float"/>
		<xs:element name="ActivityUnit" type="irdbb:ActivityUnit" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PatientOrganMassUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gram"/>
			<xs:enumeration value="kilogram"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="PatientOrganMassIn2DDosimetry">
		<xs:sequence>
			<xs:element name="PatientOrganMassValue" type="xs:float"/>
		<xs:element name="PatientOrganMassUnit" type="irdbb:PatientOrganMassUnit" />
			<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MeanAbsorbedDoseRateInROIUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gram"/>
			<xs:enumeration value="kilogram"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MeanAbsorbedDoseRateInROI">
		<xs:sequence>
			<xs:element name="MeanAbsorbedDoseRateInROIValue" type="xs:float"/>
		<xs:element name="MeanAbsorbedDoseRateInROIUnit" type="irdbb:MeanAbsorbedDoseRateInROIUnit" />
			<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="MeanAbsorbedDoseInROIUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="gray"/>
			<xs:enumeration value="milligray"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MeanAbsorbedDoseInROI">
		<xs:sequence>
			<xs:element name="MeanAbsorbedDoseInROIValue" type="xs:float"/>
		<xs:element name="MeanAbsorbedDoseInROIUnit" type="irdbb:MeanAbsorbedDoseInROIUnit" />
			<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerROI">
		<xs:sequence>
			<xs:element name="TimeIntegratedActivityCoefficientPerROIValue" type="xs:float"/>
		<xs:element name="TimeUnit" type="irdbb:TimeUnit" />
			<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerROI">
		<xs:sequence>
			<xs:element name="TimeIntegratedActivityPerROIValue" type="xs:float"/>
		<xs:element name="TimeUnit" type="irdbb:TimeUnit" />
			<xs:element name="ROIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="IncorporationFunction">
		<xs:restriction base="xs:string">
			<xs:enumeration value="constant"/>
			<xs:enumeration value="linear"/>
			<xs:enumeration value="exponential"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="IntegrationAlgorithm">
		<xs:restriction base="xs:string">
			<xs:enumeration value="trapezoid"/>
			<xs:enumeration value="mono_exponential"/>
			<xs:enumeration value="bi_exponential"/>
			<xs:enumeration value="tri_exponential"/>
			<xs:enumeration value="x_exponential"/>
			<xs:enumeration value="other"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CurveFittingMethod">
		<xs:sequence>
		<xs:element name="IncorporationFunction" type="irdbb:IncorporationFunction" />
		<xs:element name="IntegrationAlgorithm" type="irdbb:IntegrationAlgorithm" />
			<xs:element name="FittingFunction" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
			<xs:element name="DICOMStudyUID" type="xs:string"/>
			<xs:element name="DICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="NonDICOMDataClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VOI"/>
			<xs:enumeration value="VOI superimposed on images"/>
			<xs:enumeration value="3D absorbed dose map"/>
			<xs:enumeration value="segmentation"/>
			<xs:enumeration value="voxel activity map"/>
			<xs:enumeration value="3D Energy Deposition Rate Matrix"/>
			<xs:enumeration value="NM Tomo Reconstruction"/>
			<xs:enumeration value="CT Reconstruction"/>
			<xs:enumeration value="Registration Matrix"/>
			<xs:enumeration value="Density Image"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonDICOMDataFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="zipped imageJ contours format"/>
			<xs:enumeration value="TIFF format embedding imageJ contours"/>
			<xs:enumeration value="zipped pseudo DICOM ImpactMC"/>
			<xs:enumeration value="GIF format embedding imageJ contours"/>
			<xs:enumeration value="NRRD format"/>
			<xs:enumeration value="STL format"/>
			<xs:enumeration value="HDF format"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass" type="irdbb:NonDICOMDataClass" />
		<xs:element name="NonDICOMDataFormat" type="irdbb:NonDICOMDataFormat" />
			<xs:element name="FileNameList" type="irdbb:FileNameList"/>
			<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="FileNameList">
		<xs:sequence>
			<xs:element name="NonDICOMDataFileName" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>