src/main/resources/xsdSimple/3D-DosimetrySlide1Workflow.xsd

<?xml version="1.0"?>
<!--Version 009-->
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="ReferencedClinicalResearchStudy">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
							<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			<xs:element name="PatientId" type="xs:string"/>

	<xs:element name="ThreeDimDosimetrySlide1workflow" minOccurs="0" maxOccurs="unbounded">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="SPECTDataAcquisitionAndProcessing" type="irdbb:SPECTDataAcquisitionAndProcessing" maxOccurs="unbounded" />
				<xs:element name="RegistrationVOISegmentationAndPropagation" type="irdbb:RegistrationVOISegmentationAndPropagation"/>
				<xs:element name="VOIActivityDetermination" type="irdbb:VOIActivityDetermination" maxOccurs="unbounded" />
				<xs:element name="TimeActivityCurveFit" type="irdbb:TimeActivityCurveFit" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDoseCalculation" type="irdbb:AbsorbedDoseCalculation"/>
				<xs:element name="RadioBiologicalCalculation" type="irdbb:RadioBiologicalCalculation" minOccurs="0" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="SPECTDataAcquisitionAndProcessing">
		<xs:sequence>
				<xs:element name="SPECTAcqCTAcqAndReconstruction" type="irdbb:SPECTAcqCTAcqAndReconstruction"/>
				<xs:element name="SPECTReconstruction" type="irdbb:SPECTReconstruction"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstruction">
		<xs:sequence>
				<xs:element name="TimePointDescription" type="irdbb:TimePointDescription"/>
				<xs:element name="NMRelevantCalibrationReference" type="irdbb:NMRelevantCalibrationReference"/>
				<xs:element name="CTRelevantCalibrationReference" type="irdbb:CTRelevantCalibrationReference"/>
				<xs:element name="NMTomoProduced" type="irdbb:DICOMData"/>
				<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstruction">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="NMTomoUsed" type="irdbb:DICOMData"/>
				<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
				<xs:element name="ReconstructionMethodAndCorrectionsUsed" type="xs:string"/>
				<xs:element name="CalibrationFactorUsed" type="irdbb:CalibrationFactor"/>
				<xs:element name="NMTomoReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RegistrationVOISegmentationAndPropagation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="CTReconUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="ImageProcessingMethodMethodUsed" type="xs:string"/>
				<xs:element name="CountsPerVOIAtTimePointProduced" type="irdbb:CountsPerVOIAtTimePoint" maxOccurs="unbounded" />
				<xs:element name="VOIProduced" type="irdbb:VOI" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceProduced" type="irdbb:DICOMData" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIActivityDetermination">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="TimePointIdentifierUsed" type="xs:string"/>
				<xs:element name="CalibrationFactorUsed" type="irdbb:CalibrationFactor"/>
				<xs:element name="SPECTRecoveryCoefficientCurveUsed" type="irdbb:SPECTRecoveryCoefficientCurve"/>
				<xs:element name="DataActivityPerVOIAtTimePointProduced" type="irdbb:DataActivityPerVOIAtTimePoint" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeActivityCurveFit">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string"/>
				<xs:element name="TimePointIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="PreAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PostAdministeredActivityUsed" type="irdbb:AdministeredActivity"/>
				<xs:element name="PKAssessmentMethodUsed" type="xs:string"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIProduced" type="irdbb:TimeIntegratedActivityCoefficientPerVOI"/>
				<xs:element name="TimeIntegratedActivityPerVOIProduced" type="irdbb:TimeIntegratedActivityPerVOI"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AbsorbedDoseCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="CTReconResampledOnCommonReferenceUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="NMTomoReconResampledOnCommonReferenceUsed" type="irdbb:DICOMData" maxOccurs="unbounded" />
				<xs:element name="AbsorbedDoseCalculationMethodUsed" type="xs:string"/>
				<xs:element name="MeanAbsorbedDoseInVOIProduced" type="irdbb:MeanAbsorbedDoseInVOI" maxOccurs="unbounded" />
				<xs:element name="VoxelAbsorbedDoseMapProduced" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="RadioBiologicalCalculation">
		<xs:sequence>
				<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
				<xs:element name="VOIIdentifierUsed" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="VoxelAbsorbedDoseMapIdentifierUsed" type="xs:string" minOccurs="0" maxOccurs="unbounded" />
				<xs:element name="RadioBiologicalCalculationMethod" type="xs:string"/>
				<xs:element name="RadioBiologicalCalculationParameters" type="xs:string"/>
				<xs:element name="BiologicalEffectiveDose" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimePointDescription">
		<xs:sequence>
				<xs:element name="TimePointCategory" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
				<xs:element name="TimePointDistanceFromReferenceEventValue" type="xs:integer"/>
				<xs:element name="TimePointDistanceFromReferenceEventUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
				<xs:element name="DateTimeProcessStarted" type="xs:string"/>
				<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTRelevantCalibrationReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMRelevantCalibrationReference">
		<xs:sequence>
				<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="iodine131"/>
					<xs:enumeration value="lutetium177"/>
					<xs:enumeration value="yttrium90"/>
					<xs:enumeration value="radium223"/>
					<xs:enumeration value="rhenium188"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CountsPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="CountsValue" type="xs:float"/>
				<xs:element name="CountsUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOI">
		<xs:sequence>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="OrganOrTissue" type="xs:string"/>
				<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
				<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalibrationFactor">
		<xs:sequence>
				<xs:element name="CalibrationFactorValue" type="xs:float"/>
				<xs:element name="CalibrationFactorUnit" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCoefficientCurve">
		<xs:sequence>
				<xs:element name="SPECTRecoveryCoefficientCurve" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DataActivityPerVOIAtTimePoint">
		<xs:sequence>
				<xs:element name="DataActivityValue" type="xs:float"/>
				<xs:element name="DataActivityUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
				<xs:element name="TimePointIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
				<xs:element name="AdministeredActivityValue" type="xs:float"/>
				<xs:element name="AdministeredActivityUnit" type="xs:string"/>
				<xs:element name="Timestamp" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="MeanAbsorbedDoseInVOI">
		<xs:sequence>
				<xs:element name="MeanAbsorbedDoseInVOIValue" type="xs:float"/>
				<xs:element name="MeanAbsorbedDoseInVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityCoefficientPerVOI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityCoefficientPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TimeIntegratedActivityPerVOI">
		<xs:sequence>
				<xs:element name="TimeIntegratedActivityPerVOIValue" type="xs:float"/>
				<xs:element name="TimeIntegratedActivityPerVOIUnit" type="xs:string"/>
				<xs:element name="VOIIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
				<xs:element name="DICOMStudyUID" type="xs:string"/>
				<xs:element name="DICOMSeriesUID" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="VOI"/>
					<xs:enumeration value="VOI superimposed on images"/>
					<xs:enumeration value="3D dose map"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
		<xs:element name="NonDICOMDataFormat">
			<xs:simpleType>
				<xs:restriction base="xs:string">
					<xs:enumeration value="zipped imageJ contours format"/>
					<xs:enumeration value="TIFF format embedding imageJ contours"/>
					<xs:enumeration value="zipped pseudo_DICOM ImpactMC"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:element>
				<xs:element name="NonDICOMDataFileName" type="xs:string" maxOccurs="unbounded" />
				<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>