src/main/resources/xsdSimple/calibrationWorkflow.xsd

<?xml version="1.0"?>
<!--VersionSchemas : 108-->
<xs:schema
targetNamespace="https://www.irdbb-medirad.com"
elementFormDefault="qualified"
attributeFormDefault="unqualified"
xmlns:xs="http://www.w3.org/2001/XMLSchema"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:irdbb="https://www.irdbb-medirad.com">
	<xs:element name="NonDicomFileSetDescriptor"  type="irdbb:NonDicomFileSetDescriptor" />
	<xs:complexType name="NonDicomFileSetDescriptor">
		<xs:sequence>
			<xs:element name="ReferencedClinicalResearchStudy" type="irdbb:ReferencedClinicalResearchStudy" />
			<xs:element name="PatientId" type="xs:string"/>
			<xs:element name="AcquisitionSettings" type="irdbb:AcquisitionSettings"  minOccurs="0" />
				<xs:element name="CalibrationWorkflow" type="irdbb:CalibrationWorkflow" />
		</xs:sequence>
	</xs:complexType>

			<xs:complexType name="ReferencedClinicalResearchStudy">
					<xs:sequence>
						<xs:element name="ClinicalResearchStudyID" type="xs:string"/>
						<xs:element name="ClinicalResearchStudyTitle" type="xs:string"/>
					</xs:sequence>
				</xs:complexType>

			<xs:complexType name="CalibrationWorkflow">
				<xs:sequence>
					<xs:element name="SPECTCTCalibrationWorkflow" type="irdbb:SPECTCTCalibrationWorkflow" minOccurs="0" />
					<xs:element name="PlanarCalibrationWorkflow" type="irdbb:PlanarCalibrationWorkflow" minOccurs="0" />
					<xs:element name="CTCalibrationWorkflow" type="irdbb:CTCalibrationWorkflow" minOccurs="0" />
						</xs:sequence>
				</xs:complexType>

	<xs:element name="CTNumberCalibrationWorkfow" >
		<xs:complexType>
			<xs:sequence>
			<xs:element name="CTAcqForCTNumberCalibrationCurve" type="irdbb:CTAcqForCTNumberCalibrationCurve"/>
			<xs:element name="CalculationOfCTNumberCalibrationCurve" type="irdbb:CalculationOfCTNumberCalibrationCurve"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="Radiopharmaceutical">
		<xs:restriction base="xs:string">
			<xs:enumeration value="sodiumIodideI131"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="Isotope">
		<xs:restriction base="xs:string">
			<xs:enumeration value="radium223"/>
			<xs:enumeration value="iodine131"/>
			<xs:enumeration value="lutetium177"/>
			<xs:enumeration value="yttrium90"/>
			<xs:enumeration value="radium223"/>
			<xs:enumeration value="rhenium188"/>
			<xs:enumeration value="technetium99m"/>
			<xs:enumeration value="terbium161"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AcquisitionSettings">
		<xs:sequence>
			<xs:element name="Siteadministeringthetreatment" type="xs:string"/>
			<xs:element name="Dateandtimeofinjection" type="xs:string"/>
			<xs:element name="PreAdministeredActivity" type="irdbb:AdministeredActivity"/>
			<xs:element name="PostAdministeredActivity" type="irdbb:AdministeredActivity" minOccurs="0" />
		<xs:element name="Radiopharmaceutical" type="irdbb:Radiopharmaceutical" />
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTCalibrationWorkflow">
		<xs:sequence>
			<xs:element name="CTAcqForCTNumberCalibrationCurve" type="irdbb:CTAcqForCTNumberCalibrationCurve"/>
			<xs:element name="CalculationOfCTNumberCalibrationCurve" type="irdbb:CalculationOfCTNumberCalibrationCurve"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTCTCalibrationWorkflow">
		<xs:sequence>
			<xs:element name="SPECTAcqCTAcqAndReconstructionInCalibration" type="irdbb:SPECTAcqCTAcqAndReconstructionInCalibration"/>
			<xs:element name="SPECTReconstructionInCalibration" type="irdbb:SPECTReconstructionInCalibration"/>
			<xs:element name="CTSegmentationInCalibration" type="irdbb:CTSegmentationInCalibration"/>
			<xs:element name="SPECTSensitivityCalculation" type="irdbb:SPECTSensitivityCalculation"/>
			<xs:element name="SPECTRecoveryCoefficientCurveCalculation" type="irdbb:SPECTRecoveryCoefficientCurveCalculation" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarCalibrationWorkflow">
		<xs:sequence>
			<xs:element name="PlanarAcquisition" type="irdbb:PlanarAcquisition"/>
			<xs:element name="PlanarImageCorrections" type="irdbb:PlanarImageCorrections"/>
			<xs:element name="PlanarImageSegmentation" type="irdbb:PlanarImageSegmentation"/>
			<xs:element name="PlanarSensitivityCalculation" type="irdbb:PlanarSensitivityCalculation"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTAcqForCTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="DensityPhantomUsed" type="irdbb:DensityPhantom"/>
			<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CalculationOfCTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
			<xs:element name="CTNumberCalibrationCurveProduced" type="irdbb:CTNumberCalibrationCurve"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTAcqCTAcqAndReconstructionInCalibration">
		<xs:sequence>
			<xs:element name="PhantomUsed" type="irdbb:NMPhantom"/>
			<xs:element name="NMTomoProduced" type="irdbb:DICOMData"/>
			<xs:element name="CTReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTReconstructionInCalibration">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="NMTomoUsed" type="irdbb:DICOMData"/>
			<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
			<xs:element name="ReconstructionMethodAndCorrectionsUsed" type="xs:string"/>
			<xs:element name="CTNumberCalibrationCurveUsed" type="irdbb:CTNumberCalibrationCurve" minOccurs="0" />
			<xs:element name="CTNumberCalibrationCurveReference" type="irdbb:CTNumberCalibrationCurveReference" minOccurs="0" />
			<xs:element name="NMTomoReconProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTSegmentationInCalibration">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="NMTomoReconUsed" type="irdbb:DICOMData"/>
			<xs:element name="CTReconUsed" type="irdbb:DICOMData"/>
			<xs:element name="SegmentationMethodMethodUsed" type="xs:string"/>
			<xs:element name="VOIInCTProduced" type="irdbb:VOIInCTcontainer"/>
			<xs:element name="VOIInSPECTProduced" type="irdbb:VOIInSPECTcontainer"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIInSPECTcontainer">
		<xs:sequence>
			<xs:element name="VOIInSPECT" type="irdbb:VOIInSPECT" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIInCTcontainer">
		<xs:sequence>
			<xs:element name="VOIInCT" type="irdbb:VOIInCT" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTSensitivityCalculation">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="VOIInCTIdentifierUsed" type="irdbb:VOIIdentifierContainer"/>
			<xs:element name="VOIInSPECTIdentifierUsed" type="irdbb:VOIIdentifierContainer"/>
			<xs:element name="SPECTCalibrationCoefficientProduced" type="irdbb:CalibrationCoefficient"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="VOIIdentifierContainer">
		<xs:sequence>
			<xs:element name="VOIIdentifierUsed" type="xs:integer" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCoefficientCurveCalculation">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="VOIInCTIdentifierUsed" type="irdbb:VOIIdentifierContainer"/>
			<xs:element name="VOIInSPECTIdentifierUsed" type="irdbb:VOIIdentifierContainer"/>
			<xs:element name="PhantomIdentifierUsed" type="xs:string"/>
			<xs:element name="SPECTCalibrationCoefficientReferenceUsed" type="irdbb:NMRelevantCalibrationReference"/>
			<xs:element name="SPECTRecoveryCoefficientCurveInCalibrationProduced" type="irdbb:SPECTRecoveryCoefficientCurveInCalibration"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarAcquisition">
		<xs:sequence>
			<xs:element name="PhantomUsed" type="irdbb:NMPhantom"/>
			<xs:element name="NMStaticProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarImageCorrections">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="NMStaticUsed" type="irdbb:DICOMData"/>
			<xs:element name="CorrectionsUsed" type="xs:string"/>
			<xs:element name="NMStaticCorrectedProduced" type="irdbb:DICOMData"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarImageSegmentation">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData"/>
			<xs:element name="SegmentationMethodUsed" type="xs:string"/>
			<xs:element name="ROIInSPECTProduced" type="irdbb:ROIInSPECT" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="PlanarSensitivityCalculation">
		<xs:sequence>
			<xs:element name="ProcessExecutionContext" type="irdbb:ProcessExecutionContext"/>
			<xs:element name="ROIIdentifierUsed" type="irdbb:ROIIdentifierContainer"/>
			<xs:element name="NMStaticCorrectedUsed" type="irdbb:DICOMData"/>
			<xs:element name="PlanarCalibrationCoefficientProduced" type="irdbb:CalibrationCoefficient"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ROIIdentifierContainer">
		<xs:sequence>
			<xs:element name="ROIIdentifier" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DensityPhantom">
		<xs:sequence>
			<xs:element name="DensityPhantomName" type="xs:string"/>
			<xs:element name="DensityPhantomIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurveReference">
		<xs:sequence>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="CTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="ElementsOfCTNumberCalibrationCurve" type="irdbb:ElementsOfCTNumberCalibrationCurve"/>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElementsOfCTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="ElementOfCTNumberCalibrationCurve" type="irdbb:ElementOfCTNumberCalibrationCurve" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="RealDensityOfMaterialUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="hounsfield"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ElementOfCTNumberCalibrationCurve">
		<xs:sequence>
			<xs:element name="HounsfieldMeasuredValue" type="xs:integer"/>
			<xs:element name="RealDensityOfMaterialValue" type="xs:float"/>
		<xs:element name="RealDensityOfMaterialUnit" type="irdbb:RealDensityOfMaterialUnit" />
			<xs:element name="MaterialIdentifier" type="xs:string" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMRelevantCalibrationReference">
		<xs:sequence>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="NMPhantom">
		<xs:sequence>
			<xs:element name="NMPhantomName" type="xs:string"/>
			<xs:element name="NMPhantomIdentifier" type="xs:string"/>
			<xs:element name="HotInsertContainer" type="irdbb:HotInsertContainer"/>
			<xs:element name="ColdInsertContainer" type="irdbb:ColdInsertContainer"/>
			<xs:element name="Tank" type="irdbb:Tank"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="HotInsertContainer">
		<xs:sequence>
			<xs:element name="HotInsert" type="irdbb:HotInsert" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ColdInsertContainer">
		<xs:sequence>
			<xs:element name="ColdInsert" type="irdbb:ColdInsert" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="VolumeUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="milliliter"/>
			<xs:enumeration value="cubic centimeter"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PreAdminActivity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="becquerel"/>
			<xs:enumeration value="kilobecquerel"/>
			<xs:enumeration value="megabecquerel"/>
			<xs:enumeration value="curie"/>
			<xs:enumeration value="millicurie"/>
			<xs:enumeration value="microcurie"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PostAdminActivity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="becquerel"/>
			<xs:enumeration value="kilobecquerel"/>
			<xs:enumeration value="megabecquerel"/>
			<xs:enumeration value="curie"/>
			<xs:enumeration value="millicurie"/>
			<xs:enumeration value="microcurie"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="HotInsert">
		<xs:sequence>
			<xs:element name="VolumeValue" type="xs:float"/>
		<xs:element name="VolumeUnit" type="irdbb:VolumeUnit" />
			<xs:element name="PreAdminActivityValue" type="xs:float"/>
		<xs:element name="PreAdminActivity" type="irdbb:PreAdminActivity" />
			<xs:element name="PreAdminActivityTimestamp" type="xs:string"/>
			<xs:element name="PostAdminActivityValue" type="xs:float"/>
		<xs:element name="PostAdminActivity" type="irdbb:PostAdminActivity" />
			<xs:element name="PostAdminActivityTimestamp" type="xs:string"/>
			<xs:element name="HotInsertIdentifier" type="xs:string"/>
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ColdInsert">
		<xs:sequence>
			<xs:element name="VolumeValue" type="xs:float"/>
		<xs:element name="VolumeUnit" type="irdbb:VolumeUnit" />
			<xs:element name="ColdInsertIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="PreAdminBackgroundActivity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="becquerel"/>
			<xs:enumeration value="kilobecquerel"/>
			<xs:enumeration value="megabecquerel"/>
			<xs:enumeration value="curie"/>
			<xs:enumeration value="millicurie"/>
			<xs:enumeration value="microcurie"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="PostAdminBackgroundActivity">
		<xs:restriction base="xs:string">
			<xs:enumeration value="becquerel"/>
			<xs:enumeration value="kilobecquerel"/>
			<xs:enumeration value="megabecquerel"/>
			<xs:enumeration value="curie"/>
			<xs:enumeration value="millicurie"/>
			<xs:enumeration value="microcurie"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="Tank">
		<xs:sequence>
			<xs:element name="VolumeValue" type="xs:float"/>
		<xs:element name="VolumeUnit" type="irdbb:VolumeUnit" />
			<xs:element name="PreAdminBackgroundActivityValue" type="xs:float"/>
		<xs:element name="PreAdminBackgroundActivity" type="irdbb:PreAdminBackgroundActivity" />
			<xs:element name="PreAdminBackgroundActivityTimestamp" type="xs:string"/>
			<xs:element name="PostAdminBackgroundActivityValue" type="xs:float"/>
		<xs:element name="PostAdminBackgroundActivity" type="irdbb:PostAdminBackgroundActivity" />
			<xs:element name="PostAdminBackgroundActivityTimestamp" type="xs:string"/>
			<xs:element name="TankIdentifier" type="xs:string"/>
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ProcessExecutionContext">
		<xs:sequence>
			<xs:element name="DateTimeProcessStarted" type="xs:string"/>
			<xs:element name="PerformingInstitution" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="VOIVolumeUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="milliliter"/>
			<xs:enumeration value="cubic centimeter"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="VOIInCT">
		<xs:sequence>
			<xs:element name="VOIIdentifier" type="xs:integer"/>
			<xs:element name="VOIVolumeValue" type="xs:float"/>
		<xs:element name="VOIVolumeUnit" type="irdbb:VOIVolumeUnit" />
			<xs:element name="PhantomPartIdentifier" type="xs:string"/>
			<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
			<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CountsInVOIUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="counts"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="VOIInSPECT">
		<xs:sequence>
			<xs:element name="VOIIdentifier" type="xs:integer"/>
			<xs:element name="CountsInVOIValue" type="xs:float"/>
		<xs:element name="CountsInVOIUnit" type="irdbb:CountsInVOIUnit" />
			<xs:element name="PhantomPartIdentifier" type="xs:string"/>
			<xs:element name="DICOMVOIContainer" type="irdbb:DICOMData" minOccurs="0" />
			<xs:element name="NonDICOMVOIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CountsInROIUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="counts"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ROIInSPECT">
		<xs:sequence>
			<xs:element name="ROIIdentifier" type="xs:string"/>
			<xs:element name="CountsInROIValue" type="xs:float"/>
		<xs:element name="CountsInROIUnit" type="irdbb:CountsInROIUnit" />
			<xs:element name="PhantomPartIdentifier" type="xs:string"/>
			<xs:element name="DICOMROIContainer" type="irdbb:DICOMData" minOccurs="0" />
			<xs:element name="NonDICOMROIContainer" type="irdbb:NonDICOMData" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="CalibrationCoefficientUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="counts per second per megabecquerel"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="CalibrationCoefficient">
		<xs:sequence>
			<xs:element name="CalibrationCoefficientValue" type="xs:float"/>
		<xs:element name="CalibrationCoefficientUnit" type="irdbb:CalibrationCoefficientUnit" />
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="SPECTRecoveryCoefficientCurveInCalibration">
		<xs:sequence>
			<xs:element name="ElementsOfSPECTRecoveryCoefficientCurve" type="irdbb:ElementOfSPECTRecoveryCoefficientCurveContainer"/>
			<xs:element name="ReferenceCalibrationDate" type="xs:string"/>
		<xs:element name="Isotope" type="irdbb:Isotope" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ElementOfSPECTRecoveryCoefficientCurveContainer">
		<xs:sequence>
			<xs:element name="ElementOfSPECTRecoveryCoefficientCurve" type="irdbb:ElementOfSPECTRecoveryCoefficientCurve" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="HotInsertVolumeUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="milliliter"/>
			<xs:enumeration value="cubic centimeter"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="ElementOfSPECTRecoveryCoefficientCurve">
		<xs:sequence>
			<xs:element name="RatioMeasuredActivityToTrueActivity" type="xs:float"/>
			<xs:element name="HotInsertVolumeValue" type="xs:float"/>
		<xs:element name="HotInsertVolumeUnit" type="irdbb:HotInsertVolumeUnit" />
			<xs:element name="HotInsertIdentifier" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="TransformationIdentifierContainer">
		<xs:sequence>
			<xs:element name="TransformationIdentifier" type="xs:string" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="DICOMData">
		<xs:sequence>
			<xs:element name="DICOMStudyUID" type="xs:string"/>
			<xs:element name="DICOMSeriesUID" type="xs:string"/>
			<xs:element name="TransformationsUsed" type="irdbb:TransformationIdentifierContainer" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="NonDICOMDataClass">
		<xs:restriction base="xs:string">
			<xs:enumeration value="VOI"/>
			<xs:enumeration value="VOI superimposed on images"/>
			<xs:enumeration value="3D absorbed dose map"/>
			<xs:enumeration value="segmentation"/>
			<xs:enumeration value="voxel activity map"/>
			<xs:enumeration value="3D Energy Deposition Rate Matrix"/>
			<xs:enumeration value="NM Tomo Reconstruction"/>
			<xs:enumeration value="CT Reconstruction"/>
			<xs:enumeration value="Linear transformation matrix"/>
			<xs:enumeration value="BSpline transformation"/>
			<xs:enumeration value="Advanced elastix transformation"/>
			<xs:enumeration value="Density Image"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="NonDICOMDataFormat">
		<xs:restriction base="xs:string">
			<xs:enumeration value="zipped imageJ contours format"/>
			<xs:enumeration value="TIFF format embedding imageJ contours"/>
			<xs:enumeration value="zipped pseudo DICOM ImpactMC"/>
			<xs:enumeration value="GIF format embedding imageJ contours"/>
			<xs:enumeration value="NRRD format"/>
			<xs:enumeration value="STL format"/>
			<xs:enumeration value="HDF4 format"/>
			<xs:enumeration value="HDF5 format"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="NonDICOMData">
		<xs:sequence>
		<xs:element name="NonDICOMDataClass" type="irdbb:NonDICOMDataClass" />
		<xs:element name="NonDICOMDataFormat" type="irdbb:NonDICOMDataFormat" />
			<xs:element name="NonDICOMDataFileName" type="xs:string"/>
			<xs:element name="FHIRIdentifier" type="xs:string" minOccurs="0" />
			<xs:element name="TransformationsUsed" type="irdbb:TransformationIdentifierContainer" minOccurs="0" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="ActivityUnit">
		<xs:restriction base="xs:string">
			<xs:enumeration value="becquerel"/>
			<xs:enumeration value="kilobecquerel"/>
			<xs:enumeration value="megabecquerel"/>
			<xs:enumeration value="curie"/>
			<xs:enumeration value="millicurie"/>
			<xs:enumeration value="microcurie"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="AdministeredActivity">
		<xs:sequence>
			<xs:element name="AdministeredActivityValue" type="xs:float"/>
		<xs:element name="ActivityUnit" type="irdbb:ActivityUnit" />
		</xs:sequence>
	</xs:complexType>

</xs:schema>